<h>All products</h1>

<p><%= link_to "Add new product", new_product_path %></p>

<% @products.each do |product| %>
  <p>Product ID: <%= product[:id] %></p>
  <p>Product name: <%= product[:name] %></p>
  <p>Price: $<%= product.formatted_price %></p>
<%= link_to "Show detail", product_path(product) %> 
<% end %>