<%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>
<p><%= link_to "Add new product", new_product_path %></p>

<h2>All Products</h2>

  <% @products.each do |product| %>
  <div id = "products">
    <p>Product name: <%= product[:name] %></p>
    <p>Price: $<%= product.formatted_price %></p>
  <%= link_to "Show detail", product_path(product) %>   
  </div>
<% end %>